* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.burger {
  height: 350px;
  width: auto;
}

.ingredients {
  padding-left: 0px;
  display: block;
  list-style-type: none;
  text-align: left
}

